// Colors
$mint                   : #7dc897
$orange                 : #c35c29
$gray                   : #464647
$gray-light             : #8e8e90
$gray-lighter           : #c3c3c4
$gray-lightest          : #ebebeb
$tertiary-green         : #8fcc7c
$tertiary-red           : #e15243
$tertiary-yellow        : #ebde52
$facebook-blue          : #3b5998

// End Colors

// Fonts
$font-family-base       : "Lato", sans-serif
// End Fonts